body{
    margin: 0px;
    display: grid;
    grid-template-rows: 80px 700px auto 1000px 500px 500px;
    grid-template-areas:  "nav""home" "main ""aside" "activity " "contact " ;

}

#home{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: home;
    align-items: center;
    color: white;
    margin-bottom: 5px;
    padding: 50px;
  
    
}

#home-wrapper{
    border: seashell solid 20px;
    padding: 90px 40px;
    display: flex;
    flex-direction: row;
}

nav{
    display: flex;
    background-color: white;
    grid-area: nav;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.name{
    display: flex;
    float: left;
}
.links{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
a{
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #04d6fc;
    text-decoration: none;
}
a:hover, a:active{
    color: rgb(255, 254, 254);
    background: rgba(0,0,0,0.8);
    padding: 50px;

}

h2{
    color: rgb(3, 3, 3);
    margin-left: 20px;
}
main{
    display: flex;
    flex-direction: column;
    grid-area: main;
    margin-top: 40px;
    
}
div.main-flex{
    margin: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.main-flex ul{
    display: flex;
    list-style: none;

}
#edu ul li{
   background: rgba(0,0,0,0.8);
   justify-content: space-between;
   color: rgb(248, 111, 14);
   margin-right: 5px;
   padding: 40px;
}
#edu{
    margin: 40px;
    background-image: url("/images/edu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 150px;
}
#skill{
  
    display: inline-flex;
}
#skill ul li{
   
    border: rgb(173, 55, 11) solid;
    color: rgb(207, 54, 15);
    margin: 10px;
    padding: 60px;
   
}

aside{
    display: flex;
    flex-direction: column;
    padding: 0px;
    grid-area: aside;
}
div.hob{
    display: flex;
    flex-direction: row;
    grid-area: hobby;


}
.hob h1{
    font-size: 100px; font-family: monospace; color: rgb(252, 250, 247); margin-left: 30px;
}

abbr{
    text-decoration: none;
}
div.activity{
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-areas: "act-head" "act-content";
    grid-area: activity;
}
.activity-heading{
    
    margin-bottom: 5px;
}
.activity-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.activity-content-box{
    border: black solid;
    margin-right: 5px;
    margin:10px;
    padding: 20px;
    

}
.act-head{
    color: black; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center; 
    margin: 20px;
}
div.contact{
    display: flex;
    flex-direction: column;
    background-color: black;
    grid-area: contact;
    margin-top: 15px;

}
.contact-heading{
    margin-top: 20px;
    margin-bottom: 20px;

}

.contact-content{
    display: inline-flex;
    align-items: flex-end;
    

}
.contact-content a{
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: rgb(248, 248, 248);
    border-radius: 40px;
    margin:10px 20px;
}



