
.header{
    background: linear-gradient(to top left, #045f7e 0%, #ff25d3 100%);
    padding: 365px;
    border-radius: 30px;
    

}
h1 {
    display: block;
    float: left;
}

#login{
    
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 300px;
    padding:50px 150px;
    position: absolute;
    left:520px;
    top:100px;
    

}
.design{
    
    position: absolute;
    left:90px;
    top:480px;
    

}
.submit {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 50px;
    color: white;

}
input{
    border-radius: 30px; 
    padding: 10px; 
    background-color: rgb(10, 10, 10); 
    color:blanchedalmond;
    border: silver solid;

}